.main {
    -fx-background-color: #505050;
    -fx-font-family: "VCR OSD Mono";
}

.stackPane {
    -fx-background-radius: 20;
    -fx-background-color: #398cc1;
    -fx-border-width: 3px;
    -fx-border-radius: 20;
    -fx-border-color: #fff;
}

.description-scrollpane {
    -fx-border-color: #398cc1;
    -fx-background-color: #398cc1;
    -fx-text-fill: #fff;
}

#scrollpane .scroll-bar:vertical .track {
    -fx-background-color:#398cc1;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

#scrollpane .scroll-bar:vertical .increment-button, 
#scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

#scrollpane .scroll-bar .increment-arrow,
#scrollpane .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

#scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color:#fff;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.button {
    -fx-background-insets: 0;
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

#questionTitle {
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
}

